/* .App {
  text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.app {
  /* display: flex; */
  margin: 2%;
}

.location-container {
  width: 19%;
  float: left;
  padding-top: 7%;
}

.item-container {
  width: 79%;
  float: right;
}

.nav-bar{
  margin-bottom: 1%;
  width: 100%;
  float: right;
  align-items: center;
  border: 20px solid lightgrey;
}

.form-label {
   margin-left: 1%;
   margin-right: 0.5%;
}

.items-box {
  border-bottom: 5px solid lightgrey;
  border-left: 5px solid lightgrey;
  border-width: 2px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 17px;

}

.low-items-box{
  border-bottom: 5px solid red;
  border-left: 5px solid red;
  border-width: 2px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 17px;
}

.location-box {
  border: 5px solid lightgrey;
  border-width: 3px;
  margin: 5px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}

#add-item-form {
  border-bottom: 2px solid black;
  margin-bottom: 25px;
  padding-bottom: 3%;
  padding-top: 3%;

}

.quantity-changer {
  float: right;
}

.current-location {
  color: skyblue;
  font-weight: bold;
  border: 5px solid lightgrey;
  border-width: 3px;
  margin: 5px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;

}
.blank {
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.remove-cart-button {
  float: right;
}

.populated-items {
  overflow-y: scroll;
  height: 80vh;
}
